.container-content {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

// -------------------- CONTAINER LEFT --------------------
.container-left {
    // background-color: blue;
    height:100px;
    margin: 0 2rem;
}


// -------------------- TABLE --------------------
thead {
    display: block;
}
tbody {
    display: block;
    overflow-y: scroll;
    max-height: 35rem;
}
thead th, tbody td {
    width: 90px;
}

.tbl {
    width: 100%;
    border: 2px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.tbl-header {
    background-color: rgba(0,0,0,0.5);
    th {
        padding: 0.5rem 0rem 0.5rem 1rem;
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }
}

.tbl-body {
    background-color: rgba(0,0,0,0.3);

    td {
        padding: 0.5rem 0rem 0.5rem 1rem;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 13px;
        color: #fff;
    }

    tr {
        &:hover {
            background-color: rgba(0,0,0,0.2);
            cursor: pointer;
        }
    }
}

.tbl-button {
    display: flex;
    flex: 1;
    background-color: rgba(0,0,0,0.3);
    padding: 0.5rem;
    border: 0px;
    border-radius: 0.5rem;
    color: white;
    &:hover {
        background-color: rgba(0,0,0,0.4);
        cursor: pointer;
    }
}

// -------------------- RIGHT CONTAINER --------------------
.container-right {
    // background-color: green;
    height: fit-content;
    margin: 0 2rem;
}

#container_right {
    display: none;
}

// -------------------- WRAPPER --------------------
.wrapper-top {
    display: flex;
    justify-content: space-between;
}

.wrapper-top-left {
    flex: 1;
}

.wrapper-top-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
    .card-wrapper {
        justify-content: space-between;
        flex: 1;
    }
    .card-text {
        padding-left: 2rem;
        color: white;

        p {
            padding: 0;
            margin: 0;
        }
        h1 {
            padding: 0;
            margin: 0;
        }
    }
    .card-icon {
        padding: 1rem 2rem;

        img {
            height: 50px;
            width: 50px;
        }
    }
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
}

.card-wrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
//   flex: 1;

  margin: 0.5rem;

  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.card-text {
  padding-left: 2rem;
  color: white;
}

.wrapper-bottom-left {
  display: flex;
  flex: 2;
  align-content: space-between;


  .card-text {
    color: white;
    padding: 2rem;

    p {
      padding: 0;
      margin: 0;
    }
    h1 {
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
    
    .card-text-times {
      div {
        padding-right: 2rem;
      }
    }
  }
}

.card-text-times {
  display: flex;
}

.card-flight-price {
    padding: 0 2rem;
}