.container-content {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

// -------------------- LOADING SCREEN -------------------- https://codepen.io/sudeepgumaste/pen/abdrorB

.container-loading{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
}
  
.loading-screen{
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
    .circle{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        opacity: 100%;
        background-color: #fff;
        animation: move 500ms linear 0ms infinite;
        margin-right: 30px;
        
        &:first-child{
            position: absolute;
            top:0;
            left:0;
            animation: grow 500ms linear 0ms infinite;
        }
        
        &:last-child{
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 0;
            animation: grow 500ms linear 0s infinite reverse;
        }
    }
}
  
@keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
}

// -------------------- CONTAINER LEFT --------------------
.container-left {
    // background-color: blue;
    height:100px;
    margin: 0 2rem;
}

// -------------------- FORM -------------------- 
.container-form {
    margin-bottom: 2rem;

    p {
        margin: 0.5rem;
        font-size: small;
    }
}
.form-row-one {
    display: flex;
    justify-content: space-between;
}

.form-row-two {
    display: flex;
    justify-content: space-between;
}

.form-row-three {
    display: flex;
    justify-content: space-between;

    .search {
        flex: 3;
    }

    .suprise {
        flex: 3;
    }

    .info {
        flex: 2;
    }
}

.form-group {
    flex: 1;
    align-items: baseline;
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-size: 13px;
    height: 2rem;
}

.form-group-from {
    flex-grow: 2; 
}

.form-label {
    padding: 0.5rem;
    color: white;
}

::placeholder {
    color: rgba(256,256,256,0.5);
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.form-input {
    flex: 1;
    height: 1rem;
    background-color: rgba(0,0,0,0.2);
    padding: 0.5rem;
    color: white;
    border: 0px;
    border-radius: 0.5rem;
}

.form-input-suggestion {
    width: fit-content;
    margin-top: -0.5rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 13px;
    color: white;
    display: none;
}

.form-button {
    display: flex;
    flex: 1;
    background-color: rgba(0,0,0,0.3);
    padding: 1rem;
    margin: 0.5rem;
    border: 0px;
    border-radius: 0.5rem;
    color: white;
    &:hover {
        background-color: rgba(0,0,0,0.4);
        cursor: pointer;
    }
    text-align: center;
}


// -------------------- DATA TIP -------------------- https://stackoverflow.com/questions/19480010/adding-a-tooltip-to-an-input-box

[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:40px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:45px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#FDBB40;
	z-index:9;
	font-size: 0.75em;
	height:fit-content;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

// -------------------- TABLE --------------------
.container-tbl {
    thead {
        display: block;
    }
    tbody {
        display: block;
        overflow-y: scroll;
        max-height: 35rem;
    }
    thead th, tbody td {
        width: 90px;
    }
}

.tbl {
    width: 100%;
    border: 2px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: none;
}

.tbl-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    
    background-color: rgba(0,0,0,0.5);
    th {
        padding: 0.5rem 1rem;
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }
}

.tbl-body {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    background-color: rgba(0,0,0,0.3);

    td {
        padding: 0.5rem 1rem;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 13px;
        color: #fff;
    }

    tr {
        &:hover {
            background-color: rgba(0,0,0,0.2);
            cursor: pointer;
        }
    }
}

// -------------------- RIGHT CONTAINER --------------------
.container-right {
    // background-color: green;
    height:100px;
    margin: 0 2rem;
}

#container_right {
    display: none;
}

// -------------------- WRAPPER --------------------
.wrapper-top {
    display: flex;
    justify-content: space-between;
}

.wrapper-top-left {
    flex: 1;
}

.wrapper-top-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
    .card-wrapper {
        justify-content: space-between;
        flex: 1;
    }
    .card-text {
        padding-left: 2rem;
        color: white;

        p {
            padding: 0;
            margin: 0;
        }
        h1 {
            padding: 0;
            margin: 0;
        }
    }
    .card-icon {
        padding: 1rem 2rem;

        img {
            height: 50px;
            width: 50px;
        }
    }
}

.wrapper-middle {
    height: 22rem;
    padding: 0.5rem;
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
}

.card-wrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
//   flex: 1;

  margin: 0.5rem;

  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.card-text {
  padding-left: 2rem;
  color: white;
}

.wrapper-bottom-left {
  display: flex;
  flex: 3;
  align-content: space-between;


  .card-text {
    color: white;
    padding: 2rem;

    p {
      padding: 0;
      margin: 0;
    }
    h1 {
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
    .h1-date {
        width: 100px;
    }
    
    .card-text-times {
      div {
        padding-right: 2rem;
      }
    }
  }
}

.wrapper-bottom-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
    .card-wrapper {
        justify-content: space-between;
        flex: 1;
    }
    .card-text {
        padding: 1rem 2rem;
        color: white;

        p {
            padding: 0;
            margin: 0;
        }
        h1 {
            padding: 0;
            margin: 0;
        }
    }
}

.card-text-times {
  display: flex;
}

.card-flight-price {
    padding: 1rem 2rem;
    h1 {
        padding: 0;
        margin: 0;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

.fav-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    background-color: rgba(0,0,0,0.0);
    padding: 1rem 2rem;
    border: 0px;
    border-radius: 0.5rem;
    color: white;
    &:hover {
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
    }
}

#map {
    height: 100%;
}